@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700); /* можно ли прикреплять шрифт отдельным файлом в папке fonts? */

/* общие свойства */
*{
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
body {
	background-color: #efefef;
	font-size: 14px;
	font-family: "Open Sans", Arial, sans-serif;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
a {
	text-decoration: none;
}

/*menu*/
.menu {
	background-color: #074c89;
	width: 100%;
	padding-right: 20px;
}
.menu li {
	float: right;
	padding: 15px 12px;
	color: #5cafe7;
}	
.menu a {
	color: #5cafe7;
}
.menu li:nth-child(2) {
	padding: 9.5px 12px;
	border-left: 1px solid #5cafe7;
}
.menu li:nth-child(2) a {
	position: relative;
	top: -6px;
}
.menu li img {
	padding-right: 9px;
}
.menu li:first-child a {
	text-decoration: underline;
}
.menu li:hover {
	background-color: #4eabda;
	color: white;
}
li:hover a {
	color: white;
}

/*content*/
.content {
	width: 560px;
	margin: auto;
	margin-top: 215px;
	margin-bottom: 200px;
}
.content h1 {
	color: white;
	font-size: 24px;
	line-height: 62px;
	margin-bottom: 2px;
	background-color: black;
	opacity: 0.7;
	text-align: center;
}

/*form*/
.enter-form {
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 36px;
	padding-bottom: 27px;
}
.enter-form a {
	display: block;
	width: 275px;
	height: 35px;
	margin: auto;
	margin-bottom: 30px;
}
.line {
	width: 275px;
	margin: auto;
	margin-bottom: 30px;   /* как лучше задать отступы: margin-bottom, margin-top или у каждого блока margin-bottom? */
}
.left-line {
	float: left;           /* не получается поменять цвет линии */
	width: 123px;
}
.right-line {
	float: right;
	width: 123px;
}
.text-line {
	float: left;
	margin-left: 6px;
	color: #dbdbdb;
}	
.input-form {
	display: block;
	width: 275px;
	height: 35px;
	margin: auto;
	margin-bottom: 24px;
	background-color: black;
	font-size: 14px;
	color: white;
	padding-left: 18px;
	border: none;
	border-bottom: 1px solid #474747;
}
.enter-form input[type='checkbox'] {
	margin: 3px 7px 25px 142.5px;
}
.enter-form label {
	color: #dbdbdb;
}
.enter-form input:focus {
	background-color: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0 0 10px 2px #689bcc;
	color: white;
}
.enter-form input[type='submit'] {
	display: block;
	width: 150px;
	height: 35px;
	background-color: #2f7bc5;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 20px;
	color: #dbdbdb;
}
.enter-form p {
	font-size: 12px;
	color: #dbdbdb;
	text-align: center;
	line-height: 20px;
}